*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #3498db;

}
.container{
    min-width: 20rem;
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1{
    font-size: 5rem;
}

.container div{
    margin-top: 5rem;
    background-color: aliceblue;
    padding: 2rem 5rem;
    border-radius: 2rem;
    box-shadow: 0 2rem 2rem -1.7rem;
}
h2{
    font-size: 2.5rem;
    margin: 2rem 0 1rem 0;
}
p{
    font-size: 1.8rem;
}
